sphinx >=3
sphinx_rtd_theme
sphinx-autodoc-typehints==1.11.1
jupyter-sphinx>=0.3.2

# Packages used for CI tests.
pytest
pytest-xdist

# Packages used for notebook execution
matplotlib
scikit-learn
numpy
jax[cpu]
